.container {
  padding: 20px
}

input {
  padding-block: 0px;
  line-height: normal;
}

.search-box {
  position: relative;
  width: 241px;
  height: 38px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  padding-left: 12px;
  padding-right: 70px;
  border-radius: 4px;
}

.search-box:focus {
  border-color: #7952b3;
  outline: none;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.search-box:disabled {
  Background-color: rgb(233, 236, 239)
}

.search-box-container {
  position: relative;
  width: fit-content;
}

.search-box-input {
  width: 241px;
  height: 38px;
  font-size: 16px;
  background-color: #fff;
  border-color: #ced4da;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
}

.keyboard-shortcut {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  border-color: rgb(222, 226, 230);
  border-radius: 2px;
  height: 24px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid rgb(222, 226, 230);
}

.pagination-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  row-gap: 15px;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li a {
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
}

.pagination li a:hover {
  cursor: pointer;
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.warning{
  color: red;
  size: 12px;
}

.pagination-limit input{
  width: 50px;
  padding: 5px;
}